body, html {
    margin: 0;
    padding: 15borpx; 
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: #eeee;
    
}
header {
    background-image: url(./Images/brennan-burling-ay53qag90W8-unsplash.jpg);

    display: flex;
    color: #eeee;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
}
header a {
    font-size: 12px;
}



footer {
    background-color: black;
    color: white;
    padding: 10px; 
    text-align: center;
    border-radius: 5px;

}
ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 10px; 
    

}
a {
    text-decoration: none;
   color: #693333;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.information {
    background-color: #eeee;
    border: 1px solid white;
    padding: 20px;
    margin: 10px;
    text-align: center;
   flex-wrap: wrap;
    display: flex;
margin-left: 20px; 
}
.box {
    background-color: black;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 200px;
    color: white;
    display: flex;
    justify-content:space-around;
    border-radius: 30px;
    margin-top: 40px;

}
.second {
    display: flex;
    justify-content: space-around;
   
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.banner {
    background-image: url( ../New-years-party/Images/brennan-burling-ay53qag90W8-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align:start;
    padding: 100px 0;
    height: 120px;
    border-radius: 10px;
    margin-top: 50px;
padding: 30 30 20 30; 
    


}
.box {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.banner h1 {
    font-size: 26px;
    margin-bottom: 10px;
    padding: 10px;
    
}

.banner p {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    

}

 a {
    display: inline-block;
    background-color: gray silver;
    color: #cabcbc;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
     gap: 15px; 
    
}
 a:hover {
    background-color: #e37835;
}

